.header__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 3vh 10vw;
    height: 100vh;
    width: 100vw;
    /* background-color: var(--main-bg-color); */
}
.header__hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
}

.header__hero:before {
    content: "";
    position: absolute;
    /* height: 100vh; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(230, 211, 167, 0.6) 0%,
        rgba(230, 211, 167, 0.2) 60%,
        rgba(230, 211, 167, 0.7) 100%
    );
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 580px;
}

.header__info {
    max-width: 500px;
    margin-top: 40px;
}

.header__title {
    margin: 0 0 10px 0;
    font-size: 65px;
    color: whitesmoke;
}

.header__subtitle {
    font-family: "East Sea Dokdo", cursive;
    font-size: 35px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 25px 0;
}

.header__shortDescription {
    font-family: "Play", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 15px 0;
}

.grass-top {
    background-image: url(../Images/grass_PNG-2.png);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 34%;
    bottom: 0;
    z-index: -1;
}




@media screen and (max-width: 768px) {
    
    .header__section {
        grid-template-columns: 1fr;
        /* background-color: var(--main-bg-color); */
    }
    .header__title {
        font-size: 30px;
    }

    .header__shortDescription {
        font-size: 15px;
    }
}
